div {
    max-width: 100%;
    max-height: auto;
    margin-bottom: 15px;
    background-repeat: no-repeat;
}

/* banner */

.banner {
    margin: auto;
    max-width: 1320px;
    min-height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
        url(./images/Banner\ Image.png);
    background-size: 100% 100%;
}

#new-year {
    padding-top: 12%;
    color: #fff;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#party {
    margin: auto;
    max-width: 632px;
    color: #fff;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 1000;
    line-height: 95px;
}

/* deal */

.deal {
    margin: auto;
    margin-top: 120px;
    text-align: center;
}

#OFF {
    color: #f00;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
    margin-bottom: 48px;
}

#holiday-deals {
    color: #f00;
    font-size: 24px;
    font-family: Inter;
    margin: 0px;
}

#categories {
    color: #070211;
    font-size: 48px;
    font-weight: 500;
    font-family: Inter;
    margin: 0px;
}

#image2 {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    max-width: 100%;
    max-height: auto;
    margin: auto;
}

/* midnight party */

.midnight-party {
    margin: auto;
    margin: auto;
    margin-top: 120px;
    max-width: 1320px;
    min-height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
        url(./images/Vectorrr.png);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#image3 {
    padding-top: 70px;
    padding-right: 138px;
    align-items: center;
    max-width: 319.83px;
    height: 464.662px;
    margin: auto;
    flex-direction: column;
    flex-shrink: 0;
}

#welcome-midnight-party {
    max-width: 642px;
    margin-left: 126px;
    color: #fff;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
}

#join-party {
    margin-left: 126px;
    max-width: 697px;
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    line-height: 30px;
}

#join-now {
    padding-top: 48px;
    margin-left: 158px;
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}

/* park hotel */

.park-hotel {
    margin: auto;
    margin-top: 120px;
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg,
            rgba(255, 0, 0, 0.1) 0%,
            rgba(255, 0, 0, 0) 100%);
}

#blk {
    margin: auto;
    padding-top: 100px;
    width: auto;
    height: auto;
    text-align: center;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

#red {
    color: #f00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;
}

#button2 {
    margin-top: 48px;
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: 0px;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #f00;
    cursor: pointer;
}

/* best offer */

.best-offer {
    max-width: 1320px;
    height: 482px;
    flex-shrink: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: left;
    background-size: 100% 100%;
}

#div1 {
    max-height: 482px;
    background-size: 100% 100%;
}

#new-best-offer {
    margin: auto;
    padding-top: 104px;
    color: #f00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    line-height: normal;
}

#coming-soon {
    margin-top: 10px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

#text1 {
    margin-top: 0px;
    max-width: 393px;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    line-height: 32px;
}

#div2 {
    padding: auto;
    width: 482px;
    height: 482px;
    flex-shrink: 100%;
    border-radius: 50%;
    border: 15px solid #f00;
    justify-content: center;
}

#img4 {
    padding: 40px;
    border-radius: 400px;
    justify-content: center;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    flex-shrink: 100%;
}

#div3 {
    margin: auto;
    max-height: 482px;
}

#year {
    margin: 0px;
    padding-top: 112px;
    color: #f00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#text2 {
    padding-top: 0%;
    margin-top: 0px;
    max-width: 276px;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    line-height: 32px;
}

#img5 {
    padding: 0%;
    max-width: 140px;
    max-height: 140px;
    flex-shrink: 100%;
}

/* holidays sale */

.holidays-sale {
    width: 1320px;
    margin: 200px auto;
    min-height: 10px;
    text-align: center;
}

.holidays-sale-p1 {
    color: #070211;
    font-family: "Inter";
    font-size: 24px;
    font-style: normal;
    line-height: normal;
    margin: 0;
}

.holidays-sale-p2 {
    color: #070211;
    font-family: "Merriweather";
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin: 0;
}

.holidays-sale-p2 span {
    color: #f00;
}

.holidays-sale-p3 {
    color: rgba(7, 2, 17, 0.6);
    text-align: center;
    font-family: "Inter";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 160% */
    margin: 0;
}

.salePics {
    position: relative;
    width: 100%;
    height: 600px;
}

.salePics1 {
    height: 400;
    position: absolute;
    top: 0;
    right: 0;
}

.salePics2 {
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.salePics3 {
    top: 70px;
    right: 270px;
    position: absolute;
}

.salePics4 {
    position: absolute;
    height: 80%;
    bottom: 30px;
    left: 80px;
}

/* awesome portfolio */

.awesome-portfolio {
    margin: auto;
    margin-top: 240px;
    max-width: 1320px;
    height: 1320px;
    background-size: 100% 100%;
}

#best-gift {
    margin: 0px;
    color: #f00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

#awesome {
    margin: 0px;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

#text-awesome {
    max-width: 896px;
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

#table1 {
    padding: 0%;
    margin: 0%;
    display: flex;
    gap: 15px;
}

#table1 img:hover {
    transform: scale(1.03);
}

/* subscribe */

.subscribe {
    margin: auto;
    width: 1320px;
    height: 616px;
    flex-shrink: 100%;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    background-size: 100% 100%;
    text-align: center;
}

#img8 {
    padding-top: 80px;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
}

#sn {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

#sp8 {
    text-align: center;
    max-width: 896px;
    color: rgba(7, 2, 17, 0.6);
    margin: auto;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    line-height: 32px;
}

.subscribe input {
    margin: auto;
    width: 438px;
    margin-top: 20px;
    font-size: 18px;
    padding: 20px 15px;
    border: none;
    outline: none;
    border-radius: 50px 0px 0px 50px;
}

.subscribe button {
    width: 200px;
    font-size: 20px;
    padding: 20px 30px;
    border: none;
    outline: none;
    background: #f00;
    border-radius: 0px 50px 50px 0px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.subscribe button:hover {
    background: #070211;
}

/* foot */
footer {
    background: #070211;
    margin: 10% 0% 0% 0%;
    max-height: 600px;
    background-size: 100% 100%;
    color: #fff;
    padding: 100px 150px;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
}

#pw {
    display: flex;
}

#fimg {
    padding: 32px;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

footer>div {
    display: flex;

    justify-content: space-between;
    margin: 30px 0px;
}

#address {
    max-width: 400px;
}

.footer-two {
    justify-content: center;
    gap: 10px;
}

footer button {
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

footer button:hover {
    color: orange;
}

a {
    text-decoration: none;
    color: #fff;
}