div {
    max-width: 100%;
    max-height: auto;
    margin-bottom: 15px;
    background-repeat: no-repeat;
  }

  /* banner */
  .banner {
    margin: auto;
    max-width: 1320px;
    min-height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
      url(./images/Banner\ Image.png);
    background-size: 100% 100%;
  }
  #new-year {
    padding-top: 12%;
    color: #fff;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  #party {
    margin: auto;
    max-width: 632px;
    color: #fff;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 1000;
    line-height: 95px;
  }

  /* deal */
  .deal {
    margin: auto;
    margin-top: 120px;
    text-align: center;
  }
  #OFF {
    color: #f00;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;
    margin-bottom: 48px;
  }
  #holiday-deals {
    color: #f00;
    font-size: 24px;
    font-family: Inter;
    margin: 0px;
  }
  #categories {
    color: #070211;
    font-size: 48px;
    font-weight: 500;
    font-family: Inter;
    margin: 0px;
  }
  #image2 {
    width: 802.9px;
    height: 500px;
    flex-shrink: 0;
    max-width: 100%;
    max-height: auto;
    margin: auto;
  }

  /* midnight party */
  .midnight-party {
    margin: auto;
    margin: auto;
    margin-top: 120px;
    max-width: 1320px;
    min-height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
      url(./images/Vectorrr.png);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #image3 {
    padding-top: 70px;
    padding-right: 138px;
    align-items: center;
    max-width: 319.83px;
    height: 464.662px;
    margin: auto;
    flex-direction: column;
    flex-shrink: 0;
  }
  #welcome-midnight-party {
    max-width: 642px;
    margin-left: 126px;
    color: #fff;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
  }
  #join-party {
    margin-left: 126px;
    max-width: 697px;
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    line-height: 30px;
  }
  #join-now {
    padding-top: 48px;
    margin-left: 158px;
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
  }

  /* park hotel */
  .park-hotel {
    margin: auto;
    margin-top: 120px;
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    border-radius: 16px;
    background: linear-gradient(
      180deg,
      rgba(255, 0, 0, 0.1) 0%,
      rgba(255, 0, 0, 0) 100%
    );
  }
  #blk {
    margin: auto;
    padding-top: 100px;
    width: auto;
    height: auto;
    text-align: center;
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
  }
  #red {
    color: #f00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;
  }
  #button2 {
    margin-top: 48px;
    color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    border: 0px;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #f00;
    cursor: pointer;
  }